* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
    color: #333;
}

/* NAVBAR */
header {
    background: white;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.profile-icons {
    display: flex;
    gap: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.red {background: #ff5a5a;}
.purple {background: #b35aff;}
.green {background: #42cc59;}
.blue {background: #4dadeb;}

/* SECTION TITLES */
.section-title {
    margin: 40px auto 20px;
    width: 90%;
}

.section-title h2 {
    font-size: 22px;
    font-weight: 700;
}

/* TRENDING */
.trending {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 32%;
    overflow: hidden;
}

.card img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
    font-size: 18px;
}

.card p {
    margin: 0 15px 10px;
    font-size: 14px;
    color: #666;
}

.card span {
    margin-left: 15px;
    font-size: 12px;
    color: #aaa;
}

/* HAPPENING NOW */

.happening {
    width: 90%;
    margin: 20px auto 60px;
}

.big-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img-box {
    border-radius: 10px;
    object-fit: cover;
}

.side-imgs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.side-imgs .small {
    height: 180px;
    flex: 1;
}

.bottom-row {
    display: flex;
    gap: 20px;
}

.bottom-row .img-box {
    flex: 2;
    height: 220px;
}

.side-small {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-small .small {
    height: 100px;
}

/* FOOTER */

footer {
    background: #1e2a3a;
    color: white;
    padding: 50px 40px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

footer p {
    margin-bottom: 6px;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}